*{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  
  
}
body {
  font-family: Arial, sans-serif;
  background-color:#020202;
  overflow-x: hidden;
  
}
@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
}


